body {
    background: linear-gradient(334deg, #022C44, #6b3290, #022C44);
    background-size: 180% 180%;
    animation: gradient-animationBody 6s ease infinite; 
}

@keyframes gradient-animationBody {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Sección del navbar -Fer */
.custom-navbar.scrolled {
    background-color: #ffffff;
    box-shadow: 0 0.125rem 0.25rem #0000001a;
}

/* Seccion aboutHeader -Fer*/
.aboutHeader {
    padding-top: 6.5rem; 
    text-align: center;
    margin-bottom: 4rem;
}

.aboutHeader h1 {
    font-size: 2.8rem;
}

.aboutHeader p {
    font-size: 1.15rem;
    padding: 0.7rem 12rem 0.7rem 12rem;
}
.aboutHeader h3 {
    font-size: 1.7rem;
    padding-top: 1.3rem;
    padding-bottom: 1rem;
}

.aboutHeader h5 {
    font-size: 1rem;
}

.gradient-line {
    margin-top: 1rem;
    width: 6rem;
    height: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to right, #a78bfa, #f472b6);
}

/* Sección ourFoundation -Fer */

.ourFoundation {
    background-color: #EAE7E5;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: black;
    padding: 5rem 2rem;
}

.mision-vision-wrapper {
    display: flex;
    gap: 7rem;
    justify-content: center;
}

.card {
    border-radius: 0.625rem;
    background-color: white;
    box-shadow: 0.438rem 0.438rem 0.5rem rgba(90, 27, 132, 0.5);
}

.icon-Foundation-above {
    width: 2.5rem;
}

.foundation-icon-wrapper-p {
    display: inline-block;
    margin: 0 0.938rem 0 0.313rem;
    padding: 0.25rem;
    border-radius: 50%;
    background-color: #eae4f0;
}

.philosophy {
    text-align: center;
    padding-bottom: 2.8rem;
}

.philosophy p {
    padding: 1.25rem 8rem 0;
    font-size: 1.2rem;
}

.mision, .vision {
    width: 40%;
    padding: 1.5rem;
}

.mision h2, .vision h2 {
    font-size: 1.6rem;
}

.mision p, .vision p {
    margin-top: 1.7rem;
}

.values {
    margin-top: 5rem;
}

.values p {
    margin-top: 1.25rem;
    font-size: 0.938rem;
}

.values h3 {
    margin-top: 0.625rem;
    font-size: 1.625rem;
}

.valuesHead {
    text-align: center;
}

.valuesHead p {
    padding: 0.7rem 8rem 0.4rem;
    font-size: 1.2rem;
}

.values-grid {
    margin-top: 4.375rem;
    text-align: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.card.value {
    display: flex;
    flex-direction: column;
    padding: 1.8rem;
    margin: 0 0.313rem;
    height: auto;
    max-width: 18.75rem;
}

.foundation-icon-wrapper-v {
    display: flex;
    justify-content: center;
    padding: 0.02rem;
    border-radius: 50%;
    background: linear-gradient(0deg, #6b3290 0%, #5a1b84 33%, #48166a 66%, #2d0e42 100%);
    width: 4.375rem;
    height: 4.375rem;
    margin: 0.3rem auto 1rem;
}

.icon-Foundation-below {
    width: 2.188rem;
    object-fit: contain;
}

/* ================= Responsive de ourFoundation -Fer================= */

@media (max-width: 64rem) {
    .aboutHeader {
        font-size: 1.25rem;
        padding-top: 6.25rem;
    }
    
    .aboutHeader h1 {
        font-size: 2.625rem;
    }
    
    .aboutHeader p {
        padding: 0.7rem 5rem;
    }
    
    .mision-vision-wrapper {
        gap: 4rem;
    }
    
    .mision, .vision {
        width: 45%;
        padding: 1.2rem;
    }
    
    .valuesHead p {
        font-size: 1.125rem;
    }
    
    .card.value {
        max-width: 16.25rem;
    }
    
    .philosophy p {
        padding: 1.25rem 4rem 0;
        font-size: 1.1rem;
    }
}

@media (max-width: 48rem) {
    .aboutHeader {
        font-size: 1.125rem;
        padding-top: 5rem;
    }
    
    .aboutHeader h1 {
        font-size: 2.188rem;
    }
    
    .aboutHeader p {
        padding: 0.7rem 2rem;
        text-align: center; 
    }
    
    .mision-vision-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
    .mision, .vision {
        width: 90%;
    }
    
    .card.value {
        width: 90%;
        max-width: none;
    }
    
    .values-grid {
        flex-direction: column;
        align-items: center;
    }
    
    .foundation-icon-wrapper-v {
        width: 3.75rem;
        height: 3.75rem;
    }
    
    .icon-Foundation-below {
        width: 1.875rem;
    }
    
    .mision h2, .vision h2 {
        font-size: 1.3rem;
    }
    
    .valuesHead p {
        padding: 0.7rem 2rem 0.4rem;
        font-size: 1rem;
    }
    
    .philosophy p {
        padding: 1.25rem 2rem 0;
        font-size: 1rem;
    }
}

@media (max-width: 30rem) {
    
    .aboutHeader h1 {
        font-size: 1.75rem;
    }
    
    .gradient-line {
        width: 4rem;
    }
    
    .mision p, .vision p,
    .values p {
        font-size: 0.875rem;
    }
    
    .philosophy p {
        font-size: 0.938rem;
        padding: 1.5rem 0.1rem 0.1rem 0.1rem;
    }

    .values h3 {
        font-size: 1rem;
    }
    
    .valuesHead p {
        font-size: 0.938rem;
        padding: 1rem 0.1rem 0.1rem 0.1rem;
    }
    
    .mision h2, .vision h2 {
        font-size: 1.1rem;
    }
}

/* Seccion workEnvironment -Fer */

.workEnvironment {
    background-color: white;
    text-align: center;    
    padding: 5rem 2rem 5rem;
    color: black;
}

.workEnvironment p {
    padding: 1.1rem 8rem 0 8rem;
    font-size: 1.2rem;
}

figure.snip0019 {
    display: inline-flex;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 1.875rem;
    min-width: 13.75rem;
    max-width: 25.625rem;
    max-height: 13.75rem;
    width: 100%;
    background: #000000;
    text-align: center;
}

figure.snip0019 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure.snip0019 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.snip0019 figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
}

figure.snip0019 figcaption > div {
    float: left;
    height: 100%;
    overflow: hidden;
    width: 50%;
    position: relative;
}

figure.snip0019 figcaption::before {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    width: 0.125rem;
    content: '';
    opacity: 0;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

figure.snip0019 h3,
figure.snip0019 p {
    margin: 0;
    padding: 1.25rem;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
    transition: opacity 0.45s,-webkit-transform 0.45s,-moz-transform 0.45s,-o-transform 0.45s,transform 0.45s;
}

figure.snip0019 h3 {
    text-align: right;
    display: inline-block;
    word-spacing: -0.1em;
    font-weight: 300;
    text-transform: uppercase;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transform: translate3d(50%, 0%, 0);
    transform: translate3d(50%, 0%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

figure.snip0019 h3 span {
    font-weight: 800;
}

figure.snip0019 p {
    display: block;
    bottom: 0;
    text-align: left;
    font-weight: 300;
    top: 0%;
    color: #000;
    background: #ffffff;
    -webkit-transform: translate3d(-50%, 0%, 0);
    transform: translate3d(-50%, 0%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

figure.snip0019 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
}

figure.snip0019:hover img {
    opacity: 0.7;
}

figure.snip0019:hover figcaption h3,
figure.snip0019:hover figcaption p {
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

figure.snip0019:hover figcaption h3 {
    opacity: 1;
}

figure.snip0019:hover figcaption p {
    opacity: 1;
}

figure.snip0019:hover figcaption::before {
    background: #ffffff;
    top: 0rem;
    bottom: 0rem;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

/* ================= Responsive de workEnvironment -Fer================= */
@media (max-width: 64rem) {
    .workEnvironment {
        padding: 2.5rem 2.5rem 3rem;
    }
    
    .workEnvironment p {
        padding: 1rem 0 1rem 0;
        font-size: 1.125rem;
    }
}

@media (max-width: 48rem) {
    .workEnvironment {
        padding: 3.75rem 1.5rem 4rem;
    }
    
    figure.snip0019 {
        max-width: 90%;
        margin: 1.25rem auto;
    }
}

@media (max-width: 30rem) {
    .workEnvironment {
        padding: 2.5rem 2.5rem 3rem;
    }
    
    .workEnvironment p {
        padding: 1rem 0 1rem 0;
        font-size: 0.938rem;
    }
    
    figure.snip0019 {
        max-width: 95%;
        max-height: none;
    }
    
    figure.snip0019 p,
    figure.snip0019 h3 {
        font-size: 0.9rem;
        padding: 0.938rem;
    }
}

/* Seccion connectWithUs -Fer */

.connectWithUs {
    background: #3B6689;
    text-align: center;
    padding: 5rem 1rem 5rem;
    color: #eae4f0;
    width: 100vw;
    height: 48vh;
    background: #5A1B84;
    
}

.connectHead p {
    padding: 1.563rem 21.875rem 0 21.875rem;
}

.cantactUs-button {
    display: inline-flex;
    width: 9.375rem;
    height: 3.125rem;
    margin-top: 1.75rem;
    border-radius: 0.625rem;
    border: 0.063rem solid #E8A9D8;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0.313rem 0.313rem 0.5rem rgba(0, 0, 0, 0.5);
}

.cantactUs-button::before,
.cantactUs-button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
}

.cantactUs-button::before {
    left: -0.625rem;
    background: #EAE7E5;
}

.cantactUs-button::after {
    right: -0.625rem;
    background: #EAE7E5;
}

.cantactUs-button:hover::before,
.cantactUs-button:hover::after {
    width: 58%;
}

.cantactUs-button:hover span {
    color: #022C44;
    transition: 0.3s;
}

.cantactUs-button span {
    color: #EAE7E5;
    font-size: 1.125rem;
    transition: all 0.3s ease-in;
}

/* .blink-soft {
animation: blinkAnimation 3.5s infinite;
}

@keyframes blinkAnimation {
0%, 100% {
opacity: 1;
}
50% {
opacity: 0.4;
}
} */

/* ================= Responsive de connectWithUs -Fer================= */
@media (max-width: 64rem) {
    .connectWithUs {
        height: auto;
        padding: 4.375rem 2rem 4rem;
    }
    
    .connectHead p {
        padding: 1.25rem 9.375rem 0 9.375rem;
        font-size: 1.063rem;
    }
}

@media (max-width: 48rem) {
    .connectWithUs {
        padding: 3.75rem 1.5rem 3rem;
    }
    
    .connectHead p {
        padding: 0.938rem 2rem 0 2rem;
        font-size: 1.2rem;
    }
    
    .cantactUs-button {
        width: 8.75rem;
        height: 3rem;
        font-size: 1rem;
    }
}

@media (max-width: 30rem) {
    .connectHead p {
        padding: 0.625rem 1rem 0 1rem;
        font-size: 0.938rem;
    }
    
    .cantactUs-button {
        width: 8.125rem;
        height: 2.813rem;
    }
    
    .cantactUs-button span {
        font-size: 1rem;
    }
}

/* Seccion footer -Fer */

footer {
    padding: 1.875rem 0 1.875rem 0;
    background: linear-gradient(180deg, #5A1B84, #002d47);
}