
.bg-purple {
    background: #6B3290;
    background: linear-gradient(0deg, rgba(107, 50, 144, 1) 0%, rgba(90, 27, 132, 1) 33%, rgba(72, 22, 106, 1) 66%, rgba(45, 14, 66, 1) 100%); 
    height: 100vh;
    font-family: 'Monsterat', sans-serif;
    color: #EAE7E5 !important;
}
h1{
    font-family: 'Geometric 212', sans-serif !important;
}

/* pendiente eliminar eticca css -LGS */
/* #welcome {
    background-image: url('../img/quantica-qq.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
} */


.nav-icon {
    width: 24px !important;
    height: 24px !important;

}