{% load static %}
<section class="section content-services" id="content-services">
  <div class="services-title" data-aos="fade-left">
    <h1>¿Qué te ofrecemos?</h1>
  </div>
  <div class="services-container" data-aos="fade-right">
    <p> En Quantum Qwerty, impulsamos tu crecimiento con soluciones tecnológicas integrales.<br>
      Ofrecemos una amplia gama de servicios diseñados para responder a las exigencias del mundo digital actual. <br>
      Desde el desarrollo de software hasta el posicionamiento en buscadores, nuestro equipo multidisciplinario<br>
      está listo para ayudarte a alcanzar tus objetivos con precisión, innovación y resultados tangibles.</p>
  </div>
  <div class="services-title" data-aos="fade-left">
    <h1>Desarrollo de software</h1>
  </div>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div id="departments" class="departments">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
          <div class="col-lg-3 departments-nav">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#services-question1">¿Qué cubre la membresía
                  de Protego Total? </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#services-question2">¿Puedo afiliarme si tengo una
                  condición médica preexistente?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#services-question3">¿Cómo funciona la red de médicos
                  especialistas?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#services-question4">¿Protego Total ofrece cobertura
                  fuera del país?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#services-question5">¿Protego Total ofrece cobertura
                  fuera del país?</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="services-question1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>¿Qué cubre la membresía de Protego Total?</h3>
                    <br>
                    <p class="fst-italic">Accidentes, hospitalizaciones, tratamientos de enfermedades graves.</p>

                    <div class="col-lg-7 text-center order-1 order-lg-2 faqs">
                      <br>
                      <img src="{% static '/img/pelon.jpg' %}"
                        alt="Imagen de manos de personas de la tercera edad" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="services-question2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>¿Puedo afiliarme si tengo una condición médica preexistente?</h3>
                    <br>
                    <p class="fst-italic">Sí se puede afiliar, pero la enfermedad no está cubierta por el seguro</p>
                    <div class="col-lg-7 text-center order-1 order-lg-2 faqs">
                      <br>
                      <img src="{% static '/img/protego-pulgar.png' %}" alt="Imagen de pulgar hacía abajo"
                        class="img-fluid" id="img-pulgar">
                    </div>

                  </div>
                </div>
              </div>
              <div class="tab-pane" id="services-question3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>¿Cómo funciona la red de médicos especialistas</h3>
                    <br>
                    <p class="fst-italic">Los miembros tienen acceso a una red de médicos con descuentos y precios
                      preferenciales.</p>
                    <div class="col-lg-7 text-center order-1 order-lg-2 faqs">
                      <br>
                      <img src="{% static '/img/protego-red-mundial.png' %} " alt="Imagend de anciano y enfermera"
                        class="img-fluid">
                    </div>

                  </div>
                </div>
              </div>
              <div class="tab-pane" id="services-question4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>¿Protego Total ofrece cobertura fuera del país?</h3>
                    <br>
                    <p class="fst-italic">Sí, dependiendo el tipo de membresía que se adquiera.</p>
                    <div class="col-lg-7 text-center order-1 order-lg-2 faqs">
                      <br>
                      <img src="{% static '/img/protego-mapamundi.jpg' %}" alt="Imagen de un mapamundi"
                        class="img-fluid">
                    </div>

                  </div>
                </div>
              </div>
              <div class="tab-pane" id="services-question5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>¿Cómo funciona la red de médicos especialistas</h3>
                    <br>
                    <p class="fst-italic">Los miembros tienen acceso a una red de médicos con descuentos y precios
                      preferenciales.</p>
                    <div class="col-lg-7 text-center order-1 order-lg-2 faqs">
                      <br>
                      <img src="{% static '/img/protego-red-mundial.png' %} " alt="Imagend de anciano y enfermera"
                        class="img-fluid">
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>

</section>