{% load static %}
<!-- este es el bueno -->
<section class="hyperjump-effect">
  <canvas id="hyperCanvas"></canvas>
  
  <div class="overlay-text qq-text">
    <h1 class="focus-in">
      Bienvenido a <span class="qq-nombre">Quantum Qwerty</span>
    </h1>
    <p>
      Donde no solo desarrollamos <span class="resaltado">software</span> y <span class="resaltado">tecnología innovadora</span>,
      sino que creamos un <span class="resaltado">enlace</span> a un <span class="resaltado">mundo digital</span> en los <span class="resaltado">negocios</span> y el <span class="resaltado">emprendimiento</span>.
    </p>
    <p>
      No solo un <span class="resaltado">socio</span>, sino un <span class="resaltado">compañero</span> que te enlazará a la <span class="resaltado">innovación</span>.
    </p>
  </div>
  
  <!-- Flechas + texto centrado -->
  <div class="scroll-down-indicator">
    <svg class="arrow-svg left-arrow" viewBox="0 0 24 24">
      <path d="M12 16L6 10h12l-6 6z" fill="#5A1B84"/>
    </svg>
    <p class="scroll-text">Desliza para entrar a la experiencia Quantum Qwerty</p>
    <svg class="arrow-svg right-arrow" viewBox="0 0 24 24">
      <path d="M12 16L6 10h12l-6 6z" fill="#5A1B84"/>
    </svg>
  </div>
</section>