{% load static %}
<section id="services" class="section services">
  <h1 class="ms-4">Nuestros servicios </h1>
  <div class="container align-items-center">
    <div class="row align-items-center">
      <div class="services">
        <p class="services-text">
          Quantum Qwerty ofrece soluciones digitales integrales, innovadoras y personalizadas.
          Nuestro equipo está especializado en desarrollo de software, gestión y análisis avanzado de datos, creación estratégica de marcas,
          posicionamiento digital efectivo y consultoría especializada para optimizar procesos empresariales.
          Descubre cómo podemos potenciar tu negocio hacia el éxito.
        </p>
      </div>
      <!-- Card 1 -->
      <div class="card card-services col-12 col-md-6 col-lg-4" style="width: 18rem;">
        <img src="{% static 'img/web-dev.jpg' %}" class="card-img-top" alt="imagen de una laptop siendo manipulada por un usuario mostrando lenguajes de programación">
        <div class="card-body">
          <h2 class="title-card-services">Desarrollo de Software</h2>
          <p class="card-text">Desarrollo personalizado de sistemas web y aplicaciones de escritorio, adaptados específicamente a tus necesidades.</p>
        </div>
        <a class="services-hv" href="{% url 'services' %}">
          <button class="services-button liquid">
            <span class="span-services">Ver más</span>
          </button>
        </a>
      </div>
      <!-- Card 2 -->
      <div class="card card-services col-12 col-md-6 col-lg-4" style="width: 18rem;">
        <img src="{% static 'img/bd-services.jpg' %}" class="card-img-top" id="bd-img-services" alt="Imagen con iconos de bases de datos y personas interactuando con datos">
        <div class="card-body">
          <h2 class="title-card-services">Gestión y Diseño de Bases de Datos</h2>
          <p class="card-text">Diseño profesional, optimización, gestión avanzada de bases de datos y soluciones de Business Intelligence.</p>
        </div>
        <a class="services-hv" href="{% url 'services' %}">
          <button class="services-button liquid">
            <span class="span-services">Ver más</span>
          </button>
        </a>
      </div>
      <!-- Card 3 -->
      <div class="card card-services col-12 col-md-6 col-lg-4" style="width: 18rem;">
        <img src="{% static 'img/data-services.jpg' %}" class="card-img-top" alt="Tres laptops mostrando datos y gráficos">
        <div class="card-body">
          <h2 class="title-card-services">Ciencia y Análisis de Datos</h2>
          <p class="card-text">Aplicación de Data Science para analizar, automatizar y optimizar procesos empresariales clave.</p>
        </div>
        <a class="services-hv" href="{% url 'services' %}">
          <button class="services-button liquid">
            <span class="span-services">Ver más</span>
          </button>
        </a>
      </div>
      <!-- Card 4 -->
      <div class="card card-services-2 col-12 col-md-6 col-lg-4" style="width: 18rem;">
        <img src="{% static 'img/brand-services.jpg' %}" class="card-img-top" alt="Brand book de una empresa">
        <div class="card-body">
          <h2 class="title-card-services">Marca y Contenido Audiovisual</h2>
          <p class="card-text">Creación de identidad visual, producción de contenido audiovisual y desarrollo integral de marca profesional.</p>
        </div>
        <a class="services-hv" href="{% url 'services' %}">
          <button class="services-button-2 liquid-2">
            <span class="span-services">Ver más</span>
          </button>
        </a>
      </div>
      <!-- Card 5 -->
      <div class="card card-services-2 col-12 col-md-6 col-lg-4" style="width: 18rem;">
        <img src="{% static 'img/marketing-services.jpg' %}" class="card-img-top" alt="Bocetos y equipos de planeación y marketing digital">
        <div class="card-body">
          <h2 class="title-card-services">Marketing Digital y S.E.O.</h2>
          <p class="card-text">Posicionamiento web estratégico mediante SEO avanzado, marketing digital efectivo y consultoría en redes sociales.</p>
        </div>
        <a class="services-hv" href="{% url 'services' %}">
          <button class="services-button-2 liquid-2">
            <span class="span-services">Ver más</span>
          </button>
        </a>
      </div>
      <!-- Card 6 -->
      <div class="card card-services-2 col-12 col-md-6 col-lg-4" style="width: 18rem;">
        <img src="{% static 'img/consultancy-services.jpg' %}" class="card-img-top" id="consultancy-img-services" alt="Persona explicando un proceso de consultoría digital">
        <div class="card-body">
          <h2 class="title-card-services">Consultoría y Optimización Digital</h2>
          <p class="card-text">Consultoría especializada para mejorar procesos empresariales, automatizar tareas recurrentes y potenciar resultados digitales.</p>
        </div>
        <a class="services-hv click-btn btn-style504" href="{% url 'services' %}">
          <button class="services-button-2 liquid-2">
            <span class="span-services">Ver más</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>